@charset "UTF-8";

#page-content {
  position: relative; /* or position: static (default) */
  margin-top: 170px; /* 130px padding-top on body + 40px extra for #menu height */
  background: #fff;
  padding: 10px 10px 30px 10px;
  border-radius: 10px;
  width: 900px;
  max-height: 80vh; /* optional */
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

#name {
   font-size: 30px;
  color: #000;
  margin-top:25px;	
	text-align:center;
  margin-bottom: 15px;
	font-weight:600;
  text-transform: uppercase;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  width: 60%;
  margin-left: 50px;
  text-align: left;
}

form p {
  margin: 0 0 6px 3px;
  font-weight: 600;
  font-size: 20px;
  color: #1f4d1f;
}

input[type="text"],
input[type="date"],
select,
input[type="file"] {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 15px;
  transition: border-color 0.3s ease;
}

input[type="text"]:focus,
input[type="date"]:focus,
input[type="number"]:focus,
select:focus {
  border-color: #2e7d32;
}

input[type="submit"] {
  background-color:#006a6a;
  color: white;
  border: none;
  padding: 10px 18px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 6px;
  cursor: pointer;
  align-self: center;
  transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
  background-color: #3db846;
}

